.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.marginTop {
  margin-top: 18vh;
}
.m-10 {
  margin: 10px;
}
.m-5 {
  margin: 5px;
}
.loading_img {
  margin-top: 18vh;
  margin-left: 35vw;
}

.Toastify__toast--default {
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* file uploader */
.fileContainer p {
  font-size: 12px;
  margin: 8px 0 4px;
  display: none;
}
.imguploader {
  text-align: center;
}
.imguploader img {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
