.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.marginTop {
  margin-top: 8vh;
}
.m-10 {
  margin: 10px;
}
.m-5 {
  margin: 5px;
}
.padding-2vw {
  padding: 2vw;
}
.padding-bottom-2vw {
  padding-bottom: 2vw;
}
.border-delete {
  border-left: 3px solid #e1524e !important;
}
.border-update {
  border-left: 3px solid #2488ee !important;
}
.bg-update {
  background-color: #2587ee21;
}
.bg-delete {
  background-color: #e1524e24;
}
.loading_img {
  margin-top: 18vh;
  margin-left: 35vw;
}
.active_page {
  color: white !important;
  background-color: #2185d0 !important;
}
.table_loading_img {
  margin-left: 35vw;
}
.company_logo {
  width: 5vw;
}

.Toastify__toast--default {
  color: black;
}

.nav_menu_item {
  height: 100%;
}
.nav_menu_menu_item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ui.inverted.dimmer > .ui.modal {
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2) !important;
  background-color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* file uploader */
.fileContainer p {
  font-size: 12px;
  margin: 8px 0 4px;
  display: none;
}
.imguploader {
  text-align: center;
}
.imguploader input {
  margin-bottom: 15px !important;
}
.imguploader img {
  height: 100px;
  margin-top: 15px;
  border-radius: 5%;
  box-shadow: 0 0 5px #2185d0;
}

.width-32 {
  width: 32%;
}

.remove-discount-btn {
  padding-left: 4px;
  position: absolute;
  font-size: xx-large;
  color: crimson;
  cursor: pointer;
}

.remove-item-icon {
  background: none !important;
  color: darkred !important;
  padding: 3px 0px 0px 0px !important;
}

.increase-discount-icon {
  background: none !important;
  padding: 3px 0px 0px 3px !important;
}

.decrease-discount-icon {
  background: none !important;
  padding: 3px 0px 0px 0px !important;
}

.delete-invoice-item {
  padding-left: 25px;
  cursor: pointer;
}

#addItem,
#addcategory {
  float: right;
  margin-top: -4%;
}
.categoryForm,
.itemForm {
  padding: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
